body{
    /* background-color: #232529; setting background color */
    /* background-image: linear-gradient(
        to bottom,
        #42ad54 0,
        #42ad54 1%,
        #232529 1%,
        #232529 10%,
        #232529 10%,
        #3c4047 100%
    ); */
    background-color: black;  
    padding-bottom: 500px;
    


}
.buttonContainer {
    display: flex; 
    justify-content: flex-end;
    gap: 15px;
    font-weight: bold;
}

.popup .overlay {
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index: 1;
    display:none;
}

.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 750px;
    height: 300px;
    background-color: #42ad54;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    padding: 15px;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Center align items vertically */
    justify-content: space-between;
}

.popup-flex-container {
    display: flex;
    align-items: center;
}

.popup-image {
    width: 200px; /* Adjust size as needed */
    height: 200px;
    margin-left: 50px;
    margin-right: 70px; /* Space between image and text */
    border-radius: 40px;
}

.popup-text h3{
    flex: 1;
    font-size: 25px;
    color:white;
    margin-left: 150px;
    font-weight: bold;
}

.popup-text p{
    margin-left:10px;
    color:white;
    font-size:20px;
    margin-top:25px;
    margin-bottom: 30px;
}



.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup.active .overlay{
    display:block;
}

.popup.active .content {
    transition: \all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

#img2{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    margin-top: -350px;
    margin-right: 350px;
}

#t2{
    margin-left: 300px;
}

.pill{
    font-size: 20px;
    font-family: roboto;
    padding: 0.5em 1em;
    border-radius: 1em;
    border:  none;
    outline: none;
    background-color: #42ad54;
    cursor: pointer;
    color: #232529;
    text-decoration: none;
}

.pill:hover{
    background: lightgreen;
}

h1{ /*leadershipr*/
    color: white;
    font-family: sans-serif;
    font-size: 75px;
    text-align: center;
    padding-bottom: 250px;
    padding-top: 250px;
    
}


.container1{ /*format each box*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.box1{ /*customize each box*/
    width: 300px;
    height: 300px;
    background-color: #3c4047 ;
    border: 10px solid #42ad54;
    font-size: 18px;
    text-align: center;
    border-radius: 200px;
    /* padding: 15px; */
    opacity: 0; /*creates animation when scrolling*/
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
    margin: 50px;
}

#p1{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#t1{
    color: white;
}
#img1{ /*sets image sizes*/
    width: 300px;
    height: 300px;
    /* margin-top:50px; */
    border-radius: 200px;
}

/* .container2{ 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.box2{
    width: 600px;
    height: 300px;
    background-color: #42ad54;
    font-size: 18px;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    opacity: 0; 
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
    margin: 50px;
}

#p2{
    color: #232529;
    margin-top: 7px;
    margin-right: 275px;
}

/* t2{
    padding-left: 300px;
    margin-top: -300px;
    
} */

/* #img2{
    width: 200px;
    height: 200px;
    margin-top:50px;
    margin-right:275px;
    border-radius: 40px;
} */

.box3{
    width: 800px;
    height: 5px;
    background-color: #42ad54;
    border-radius: 15px;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s; 
    color: white;
    margin-top: 100px; 
    margin-bottom: 50px;
    
}

h2{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: -75px;
}

.container3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.show{ /*creates animation when scrolling*/
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}






